.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #2b2b2b;
  color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f0660a;
}

.modal-content button {
  background-color: #f0660a;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #ac4908;
}
