.containt{
    
    display: flex;
    background-color: rgb(7, 4, 0);
    width: 100%;
    height: 100vh;

}
.divInput{
    width: 20%;
    display: flex;
    flex-direction:column; 
    color:#fff;
    height: 40px;
    align-items: start;
}

.row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.sub-containt{
    background-color: rgb(73, 73, 74);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
   
}

.inputLogin{
    background-color:#4a4a4a;
    color: #fff;
    border: 1px solid #707070;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
}

.inputLogin:focus{
    background-color:#4a4a4a;
    color: #fff;
    border: 1px solid #707070;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border-color: transparent;
}

.divFakeInput{
    height: 35px;
    background-color:#4a4a4a;
    color: #fff;
    border: 1px solid #707070;
    padding: 5px;
    border-radius: 5px;
    width:  100%;
    height: 15px;
    margin-top: 10px;
    
    
}


.divAgrupamentoOption{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 14%;
    z-index: 999;
    box-shadow: 10px 10px 10px -5px #000;
    margin-bottom: 10px;
}


.divOption{
    display: flex;
    cursor: pointer;
    background-color: #4a4a4a;
    border: 1px solid #707070;
    height: 25px;
    align-items: center;
    padding-left: 5px;

}

.divOption:hover{
    cursor: pointer;
    background-color: #707070;
}