.container-menu{
    height: 100vh;
    width: 220px;
    top:0;
    flex-direction: column;
    background-color: #2d2d2d;
    align-items: center;
    justify-content: center;
    display: flex;

}

.sub-container-menu{
    height: 90vh;
    width: 220px;
/* background-color: blue; */
    align-items: center;
    display: flex;
    flex-direction: column;
}



.aba{
    display: flex;
    background-color: #2d2d2d;
    height: 50px;
    width: 90%;
    margin-top: 5px;
    align-items: center;
    color: #fff;
    padding-left: 10px;
    cursor: pointer;
}   

.abaSelecionada{
    display: flex;
    height: 50px;
    width: 90%;
    margin-top: 5px;
    align-items: center;
    color: #fff;
    padding-left: 10px;
    border-left: solid #f0660a 5px;
    background-color: #3B3B3B;

}